.EggsPage {
    .swiper-slide-next {
        opacity: 1 !important;
        scale: 1 !important;
    }

    .swiper-slide {
        transition: .2s;
        opacity: .5;
        scale: .9;
    }

    canvas {
        z-index: 999999999;
        position: fixed !important;
    }

}

