.slot {
    position: relative;
    width: 100%;

    .line {
        gap: 10px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}

.symbol {
    width: 15vw;
    height: 16vw;
    border-radius: 8px;
    background-color: #403d4a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    min-height: 50px;
    min-width: 50px;
    border: 2px solid #00000000;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transition: .2s;

    &.superGift {
        box-shadow: 0px 0px 20px 15px black;
        scale: 1.05
    }
}


.slot_area {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 20vh;
    height: max-content;
    overflow: hidden;
    padding: 0px;
    width: 100%;

    .variationToWin {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;

        svg {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;

            animation: appear 1s linear forwards;
            // line {
            //     animation: appear 1s linear forwards;
            // }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }


    .waterMark {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: .5s;
        opacity: 0;

        .mark {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

            font-size: 55px;
            font-weight: bold;
            color: #ffffff40;
        }
    }

    // margin-top: 20px;
    // margin-bottom: 20px;

    .roll {
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        transition: 1s;


        &.spin {
            transform: translateY(-100%);
            // animation: roll 1s linear infinite;
        }
    }
}

.utils {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    color: #ffffff;
    width: 100%;

    .l1 {
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: 10px;

        &.t {
            grid-template-columns: 1fr;
        }

        .bet {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            justify-content: space-between;


            .title {
                opacity: 0.6;
                font-size: 11px;
            }

            .value {
                opacity: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2px;
                font-size: 13px;


                img {
                    width: 15px;
                    height: 15px;
                }

                p {}
            }
        }

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 12px;
            background-color: #232325;
            border: 1px solid #2B2C2E;
            padding: 13px 14px;
            opacity: 1;
        }

        .vabank {
            text-align: center;
            border: 2px dashed #ffb554;
            font-size: 12px;
            color: #ffb554;
            // отступы
            font-weight: 700;
            box-shadow: 0px 0px 2px 0px #ffb554;
        }
    }

    .l3 {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        opacity: 1;
        align-content: flex-start;
        align-items: center;


        & div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 12px;
            background-color: #232325;
            border: 1px solid #2B2C2E;
            // padding: 10px 15px;
            opacity: 1;
        }

        .spin {
            border-radius: 15px;
            background-color: #3e3e3e82;
            // background-color: #f9991c;
            border: 1px solid #f9991c;
            padding: 10px;

            width: 60px;
            height: 60px;
            max-width: 60px;
            max-height: 60px;
            min-height: 60px;
            min-width: 60px;

            &.autoplay {
                // padding: 20px;
                font-size: 30px;
            }

            &.base {
                background-color: #ff7700;
                background-color: #232325;
            }
        }

        .info {
            background-color: #2F2F31;
            font-size: 20px;
            display: flex;
            width: 32px;
            height: 32px;
        }
    }
}


// анимация барабанов
@keyframes roll {
    0% {
        transform: translateY(-300%);
    }

    100% {
        transform: translateY(-10%);
    }
}

@keyframes stopt {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}


// анимация появления слева на право через background
@keyframes appear {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}



.line-setting {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &>.title {
        opacity: 0.6;
        font-size: 12px;
    }

    &>.setPanel {
        margin: 0 auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;
        justify-content: center;

        &>.action {
            font-size: 22px;
            display: flex;
        }

        &>.value {}
    }
}

.dw {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .winData {
        background-color: #343435;
        padding: 3px 4px;
        border-radius: 6px;
    }
}