.ratings {
    width: 100%;

    .box {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 24px;
        position: relative;

        .title {
            font-size: 20px;
            color: #ffffff;
        }

        .ratingArea {
            display: flex;
            flex-direction: column;
        }

        &>.info {
            position: absolute;
            right: 0px;
            top: 0px;
            padding: .3rem 1rem;
            border-radius: .5rem;
            border: 1px solid rgba(255, 255, 255, 0.2);
            color: white;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
        }
    }
}



.banner {
    background-color: #232325;
    border-radius: 8px;
    padding: 14px 16px;
    gap: 36px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #FFFFFF;
    overflow: hidden;
    margin-bottom: 24px;

    .title {
        width: 50%;
        z-index: 10;
    }

    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -10%;

        .circle-1 {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            z-index: 1;
            box-shadow: 0px 0px 110px 50px #b96c1ab0;
        }

        .circle-2 {
            position: absolute;
            top: 0;
            right: 40%;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            z-index: 1;
            box-shadow: 0px 0px 90px 50px #b96c1ab0;
        }
    }

    .image {
        position: absolute;
        right: 4%;
        bottom: -30%;
        z-index: 10;
        scale: 1;
    }

    .exit {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        padding: 4px;
        opacity: 0.4;
    }
}

.group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
    font-size: 16px;

    .header {
        .area {
            display: grid;
            grid-template-columns: auto 10fr auto;
            align-items: center;
            padding: 0px 10px;


            .tools {
                font-size: 40px;
                color: #FFFFFF;
                opacity: 1;
            }

            .marea {
                display: flex;
                flex-direction: column;
                gap: 12px;
                text-align: center;
                justify-items: center;
                align-content: center;
                width: 70%;
                margin: 0 auto;

                .image {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;

                    img {
                        // width: 70px;
                        // height: 70px;
                        width: auto;
                        height: 30vh;
                    }

                    &.close {
                        img {
                            // закрасить красным поверх картинки
                            filter: brightness(0) invert(.2);
                        }

                    }


                }

                .title {}

                .desc {
                    display: flex;
                    flex-direction: row;
                    gap: 0px;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: 300;

                    .text {
                        opacity: .8;
                    }

                    .from {
                        font-weight: 800;
                        color: #f4b860;
                        padding-left: 5px;
                        padding-right: 2px;
                    }

                    .icon {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .value {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-weight: 300;

                    .my {}

                    .target {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.users {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    height: 50vh;
    overflow: auto;
    position: relative;

    // у последнего элемента


    // margin-bottom: 30vh;
    .user {
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
        background-color: #2f2f2f;
        border-radius: 8px;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        color: white;

        background-color: #242323bf;
        backdrop-filter: blur(5px);

        &:last-child {
            margin-bottom: 8rem;
        }

        .l {
            display: flex;
            flex-direction: row;
            gap: 10px;


            .avatar {
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }


            .info {
                display: flex;
                flex-direction: column;

                .name {}

                .value {
                    display: flex;
                    align-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 3px;
                    font-size: 12px;

                    .coin {
                        display: flex;

                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    &>.value {
                        font-weight: 800;
                        color: #f4b860;
                    }
                }
            }
        }

        .poz {
            font-size: 30px;
            font-weight: 100;
            opacity: .4;
        }

        &.me {
            position: fixed;
            box-shadow: 0px 0px 10px 4px #00000087;
            background: #242323;
            width: calc(100vw - 50px);
            bottom: 10px;
            opacity: 1;
            z-index: 99999;
        }
    }
}

.not-founded {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    gap: 10%;
    padding: 10px !important;

    &>.title {
        font-size: 12px !important;
        opacity: .6 !important;
    }
}

.disabl {
    filter: brightness(0);
}