:root {
  --accent_text_color: #007cff;
  --bg_color: var(#18222d);
  --button_color: #2ea6ff;
  --button_text_color: #ffffff;
  --destructive_text_color: #ef5b5b;
  --header_bg_color: #131415;
  --hint_color: #b1c3d5;
  --link_color: #62bcf9;
  --secondary_bg_color: #1c1c1c;
  --section_bg_color: #18222d;
  --section_header_text_color: #b1c3d5;
  --subtitle_text_color: #b1c3d5;
  --text_color: #ffffff;

  --font-family: 'SF Pro Text', sans-serif;
  --second-family: 'Roboto', sans-serif;

  --skeleton_bg: linear-gradient(90deg,
      rgb(181, 181, 181) 25%,
      rgb(167, 166, 166) 37%,
      rgb(181, 181, 181) 63%);
  --accent-red: #ff3b30;
}

// .light {
//   --accent_text_color: #007cff;
//   --bg_color: var(--tg-theme-bg-color, #ffffff);
//   --button_color: var(--tg-theme-bg-color, #2481cc);
//   --button_text_color: var(--tg-theme-button-text-color, #ffffff);
//   --destructive_text_color: var(--tg-theme-destructive-text-color, #ff3b30);
//   --header_bg_color: var(--tg-theme-header-bg-color, #efeff3);
//   --hint_color: var(--tg-theme-hint-color, #999999);
//   --link_color: var(--tg-theme-link-color, #2481cc);
//   --secondary_bg_color: var(--tg-theme-secondary-bg-color, #efeff3);
//   --section_bg_color: var(--tg-theme-section-bg-color, #ffffff);
//   --section_header_text_color: var(
//     --tg-theme-section-header-text-color,
//     #6d6d71
//   );
//   --subtitle_text_color: var(--tg-theme-subtitle-text-color, #999999);
//   --text_color: var(--tg-theme-text-color, #000000);

//   --skeleton_bg: linear-gradient(
//     90deg,
//     rgba(0, 0, 0, 0.06) 25%,
//     rgba(0, 0, 0, 0.15) 37%,
//     rgba(0, 0, 0, 0.06) 63%
//   );
// }