.ant-steps-item-title {
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #ffffff !important;
    line-height: 100% !important;
}

.ant-steps-item-description {
    margin-top: 4px;
    margin-bottom: 25px;
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #ffffff !important;
    opacity: .6 !important;
    line-height: 100% !important;
    width: 80% !important;

}