.clicker {
    width: 100%;
    // background-color: rgb(155, 163, 170);
    position: relative;

    .randomPozPoint {
        width: 60px;
        height: 60px;
        background-color: blueviolet;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 0px black;
        position: absolute;
        z-index: 99;
    }

    .coin {
        width: 100%;
        height: auto;
        transition: .02s;
        border-radius: 50%;
        box-shadow: 0px 5px 100px 20px #c7790d85;
        scale: 0.9;

        img {
            scale: 1.1;
            width: 100%;
            pointer-events: none;
        }

        &:active {
            transform: scale(0.98);
        }

        &-bonus {
            box-shadow: 0px 5px 100px 20px #006191;
        }
    }
}


// анимация полета вверх
@keyframes flyUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-400%);
        opacity: 0;
    }
}

.floatingNumber {
    position: absolute;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 700;
    animation: flyUp 1.5s;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
}